.card {
  border: solid black 2px;
  position: absolute;
  height: 150px;
  width: 70px;
  margin: 8px;
  transition: ease-in-out 0.5s; }
  .card.card_1 {
    background-color: beige; }
  .card.card_2 {
    background-color: blanchedalmond; }
  .card.card_3 {
    background-color: bisque; }
  .card.active.card_1 {
    transform: rotate(-45deg);
    margin-right: 170px;
    margin-top: 70px; }
  .card.active.card_2 {
    z-index: 99; }
  .card.active.card_3 {
    transform: rotate(45deg);
    margin-left: 170px;
    margin-top: 70px; }
